
/*
body {
 font-family: Aclonica; 
 
}
*/

header {
  font-size: 40px;
  text-align: center; 
  color: black;
  background: linear-gradient(#005525 25%, #fecb00, transparent);
}

section {
  float: left;
  margin-left: auto;
  margin-right: auto;
  padding: 200px 0 0 150px;
}

a {
 text-decoration: none; 
}

/*
img {
  float: right;
  width: 40%;
  padding: 95px;
  margin: auto;
  border-radius: 25%;
      max-width: 100%;
    height: auto;
}
*/

/*-----Classes-----*/

.nav {
  font-size: 45px;
  display: inline;
  text-decoration-line: none;
  padding: 35px; 
}

.title {
  font-size: 50px;
  margin-left: 250px;
}

.info {
  font-size: 45px; 
  margin-left: 250px;
}

.maya {
  margin-right: 150px;
  width: 60%;
    border-radius: 25%;
}

.main-title {
 font-size: 55px; 
}

.column {
    float: left;
    width: 50%;
  margin-left: auto;
  margin-right: auto;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

.social {
 max-width: 12px;
 max-height: 12px;
}

/*-----Pseudo Classes-----*/
a:link {
    color: black;
}

/* visited link */
a:visited {
    color: black;
}

/* mouse over link */
a:hover {
    color: #fecb00;
}

/* selected link */
a:active {
    color: #fecb00;
}

/*-----Media Queries-----*/

@media (max-width: 1250px) {
  section {
    float: inherit;
  }
  

  img {
    float: inherit;
  }
}
















